<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#232323">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa:300,400,700" rel="stylesheet">

    <link rel="stylesheet" href="/stylesheets/landing.css">
    <title>Smoked</title>
</head>

<body>
    <header class="header">

        <div class="header">
                <div class="header__logo-box">
                        <img src="img/mitlogo.png" alt="Logo" class="header__logo">
                </div>
                <div class="header__logo-box2">
                    <img src="img/02(1).png" alt="Logo" class="header__logo2"> 
                </div>
            <div class="header__text-box">
                <h1 class="heading-primary">
                    <span class="heading-primary--main">SMOKED</span>
                    <span class="heading-primary--sub">Come Smoke Up!</span>
                </h1>
                <div class="row">
                    <div class="col-1-of-2">
                        <a href="./login" class="btn btn--white btn--animated">Login</a>
                    </div>
                    <div class="col-1-of-2">
                        <a href="./register" class="btn btn--white btn--animated">Register</a>
                    </div>
                    
                </div>
                
            </div>
            <!--<div class="header__logo-box1">
                <img src="img/logo.png" alt="Logo" class="header__logo1">
            </div>-->
        </div>
       
        <div class="bg-video">
            <video class="bg-video__content" autoplay muted loop>
                <source src="img/back.mp4" type="video/mp4">
            </video>
        </div>
        </div>
    </header>

</body>

</html>