<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#232323">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet"> -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Kirang+Haerang" rel="stylesheet"> -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700" rel="stylesheet"> -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Amaranth:400,400i,700,700i" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Comfortaa:300,400,700" rel="stylesheet">

    <link rel="stylesheet" href="/stylesheets/landing.css">
    <title>Smoked | Rules</title>
    <style>
        body{
            background-color: #000000;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80' width='80' height='80'%3E%3Cpath fill='%23ffffff' fill-opacity='0.22' d='M14 16H9v-2h5V9.87a4 4 0 1 1 2 0V14h5v2h-5v15.95A10 10 0 0 0 23.66 27l-3.46-2 8.2-2.2-2.9 5a12 12 0 0 1-21 0l-2.89-5 8.2 2.2-3.47 2A10 10 0 0 0 14 31.95V16zm40 40h-5v-2h5v-4.13a4 4 0 1 1 2 0V54h5v2h-5v15.95A10 10 0 0 0 63.66 67l-3.47-2 8.2-2.2-2.88 5a12 12 0 0 1-21.02 0l-2.88-5 8.2 2.2-3.47 2A10 10 0 0 0 54 71.95V56zm-39 6a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm40-40a2 2 0 1 1 0-4 2 2 0 0 1 0 4zM15 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm40 40a2 2 0 1 0 0-4 2 2 0 0 0 0 4z'%3E%3C/path%3E%3C/svg%3E");
        }
    </style>
</head>

<body>
    <!-- navigation -->
    <div class="navigation">
            <input type="checkbox" class="navigation__checkbox" id="navi-toggle">
    
            <label for="navi-toggle" class="navigation__button">
                <span class="navigation__icon">&nbsp;</span>
            </label>
    
            <div class="navigation__background">&nbsp;</div>
    
            <nav class="navigation__nav">
                <ul class="navigation__list">
                    <li class="navigation__item">
                        <a href="/leaderboard" class="navigation__link">
                            <span>&emsp;</span>Leaderboard&emsp;</a>
                    </li>
                    <li class="navigation__item">
                        <a href="/answer-log" class="navigation__link">
                            <span>&emsp;</span>Answer log&emsp;</a>
                    </li>
                    <li class="navigation__item">
                        <a href="/rules" class="navigation__link">
                            <span>&emsp;</span>Rules&emsp;</a>
                    </li>
                    <li class="navigation__item">
                        <a href="/resume" class="navigation__link">
                            <span style="padding-left: 10px">&emsp;</span>Play&emsp;</a>
                    </li>
                    <li class="navigation__item">
                            <a href="/aboutus" class="navigation__link">
                                <span style="padding-left: 10px">&emsp;</span>About Us&emsp;</a>
                    </li>
                    <li class="navigation__item">
                        <a href="/logout" class="navigation__link">
                            <span>&emsp;</span>Logout&emsp;</a>
                    </li>
                </ul>
            </nav>
        </div>

        <section class="section-book">
                <h1 class="heading-primary--leader margin-bottom" style="text-align: center;">Rules</h1>

                <div class="row">
                    <div class="book">
                        <div class="book__form">
                                <div class="u-margin-bottom-medium u-center-text">
                                        <p class="rules" style="text-align:center; "> https://smoked.wearemist.in/ <span style="color:red;">levelname</span>/<span style="color: green">answer</span></p>
                                        <p class="rules">&#8226; <span style="color:red;">levelname</span> This corresponds to the level name.</p>
                                        <p class="rules">&#8226; <span style="color: green">answer</span> This is the answer you have to enter. </p>
                                        <p class="rules">Example for the first level: https://smoked.wearemist.in/<span style="color:red;">firstone</span>/<span style="color: green">your-answer</span></p>
                                    <p class="rules">&#8226; Jumping levels will invite a temporary <span style="color:red;">ban</span>.</p>
                                    <p class="rules">&#8226; Do <span style="color:red;">not</span> share the answers with each other</p>
                                    <p class="rules">&#8226; The game ends on 12<sup>th</sup> October at 23:59:59.</p>
                                    <p class="rules">&#8226; <span style="color: #3cba54">G</span>
                                        <span style="color: #db3236">o</span>
                                            <span style="color: #f4c20d">o</span>
                                            <span style="color: #4885ed">g</span>
                                            <span style="color: #3cba54">l</span>
                                            <span style="color: #db3236">e</span>
                                            your way through it.</p>
                                    <p class="rules">&#8226; Explore the depth of webpage for hints and references.</p>
                                    <p class="rules">&#8226; Additional hints will be added with time and need.</p>
                                    <p class="rules">&#8226; For viewing source code on mobile phones, add view-source:smoked.wearemist.in </p>
                                    <p class="rules">Example for the first level: https://smoked.wearemist.in/<span style="color:red;"> firstone</span>/ <br/>--> view-source:smoked.wearemist.in/ <span style="color:red;">firstone</span></p>
                                        <a href="/resume" class="btn-text">Back</a>
                                    <!-- </div> -->
                                </div>
                        </div>
                    </div>
                </div>
        </section>
 </body>
 <script>
        //hiding nav bar function
   
   var ele = document.getElementsByClassName("navigation__link");
   for (var i = 0; i < ele.length; i++) {
       ele[i].style.display = "none";
   }
   
   
   
   var che = document.getElementById("navi-toggle");
   che.addEventListener("change", function () {
       var bo = che.checked;
       if (bo) {
           for (var j = 0; j < ele.length; j++) {
               ele[j].style.display = "inline-block";
           }
       }
       else {
           setTimeout(function() { for (var j = 0; j < ele.length; j++) { ele[j].style.display = "none";}}, 900);
       }
   });
    </script>
</html>