<% include ./../partials/header%>
<section class="section features">
  <div class="login-box">
    <div class="row">
      <div class="u-margin-bottom-medium u-center-text">
        <h2 class="heading-secondary u-margin-bottom-small">Level 11</h2>
        <img src="/img2/11.jpg" alt="img l11" class="login-box__img" />
            <div>
              <p class="paragraph">
                Hint- bond
             </p>
            </div>
      </div>
    </div>
  </div>
</section>
<% include ./../partials/footer%>
