<% include ./../partials/header%>
<section class="section features">
    <div class="login-box" >
        <div class="row">
            <div class="u-margin-bottom-medium u-center-text">
                <h2 class="heading-secondary u-margin-bottom-small">Level 30</h2>
                <img src="/img/km.png" alt="img l30" class="login-box__img" style="display:block;">
                
                <p class="paragraph">
                    Which Law??
                </p>
                
            </div>
        </div>
    </div>
</section>
<% include ./../partials/footer%>