<% include ./../partials/header%>
<section class="section features">
    <div class="login-box">
        <div class="row">
            <div class="u-margin-bottom-medium u-center-text">
                <h2 class="heading-secondary u-margin-bottom-small">Level 37</h2>
                
                <p class="paragraph" >
                        (____) - 24 <br> 
                        Egg - 8 <br>
                        Bacon - 6   <br>     
                </p>
            </div>
        </div>
    </div>
</section>
<% include ./../partials/footer%>