<% include ./../partials/header%>
<section class="section features">
    <div class="login-box">
        <div class="row">
            <div class="u-margin-bottom-medium u-center-text">
                <h2 class="heading-secondary u-margin-bottom-small">Level 10</h2><br>
                <img src="/img2/10.jpg" alt="img l10" class="login-box__img">
            </div>
        </div>
    </div>
</section>
<% include ./../partials/footer%>