<% include ./../partials/header%>
<section class="section features">
    <div class="login-box">
        <div class="row">
            <div class="u-margin-bottom-medium u-center-text">
                <h2 class="heading-secondary u-margin-bottom-small">Level 6</h2>
                <img src="/img2/06.jpg" alt="img l6" class="login-box__img">
                
            </div>
        </div>
    </div>
</section>
<% include ./../partials/footer%>