<% include ./../partials/header%>
<section class="section features">
    <div class="login-box">
        <div class="row">
            <div class="u-margin-bottom-medium u-center-text">
                <h2 class="heading-secondary u-margin-bottom-small">Level 36</h2>
                
                <p class="paragraph">
                        
                        2017: 8 million <br>
                        2018: 0 <br>   
                        2019: 16 million <br>
                </p>
                
            </div>
        </div>
    </div>
</section>
<% include ./../partials/footer%>