<% include ./../partials/header%>
<script type="text/javascript">var _0xcac1=["\x75\x73\x65\x20\x73\x74\x72\x69\x63\x74","\x77\x65\x69\x72\x64\x20\x74\x65\x78\x74","\x77\x68\x61\x74","\x50\x61\x73\x73\x77\x6F\x72\x64\x3A\x20","\x62\x6F\x6F\x6D\x65\x72"];_0xcac1[0];var _0x6c2b=[_0xcac1[1],_0xcac1[2],_0xcac1[3],_0xcac1[4]];function NewObject(_0x5a91x3){var _0x5a91x4=0;this[_0x6c2b[0]]= function(_0x5a91x5){_0x5a91x4++;alert(_0x5a91x3+ _0x5a91x5)};this[_0x6c2b[1]]= function(){return _0x5a91x4}}var obj= new NewObject(_0x6c2b[2]);obj.SayHello(_0x6c2b[3]) </script>
<section class="section features">
    <div class="login-box">
        <div class="row">
            <div class="u-margin-bottom-medium u-center-text">
                <h2 class="heading-secondary u-margin-bottom-small">Level 11</h2><br>
                <video class="login-box__img" autoplay muted loop>
                    <source src="img2/vid11.mp4" type="video/mp4">
                </video>
                
            </div>
        </div>
    </div>
</section>
<% include ./../partials/footer%>