<% include ./../partials/header%>
<section class="section features">
    <div class="login-box">
        <div class="row" style="margin-bottom: 2rem !important;">
            <div class="u-margin-bottom-medium u-center-text" style="margin-bottom: 2rem !important;">
                <h2 class="heading-secondary u-margin-bottom-small">Level 18</h2><br /><br>
                <img src="/img2/186.jpg" alt="img l18" class="login-box__img" width="400" height="282">
                <img src="/img2/1823.jpg" alt="img l18" class="login-box__img" width="400" height="282">
                
            </div>
        </div>
        <script src="/javascripts/script.js"></script>
    </div>
</section>
<% include ./../partials/footer%>