<% include ./../partials/header%>
<section class="section features">
    <div class="login-box">
        <div class="row">
            <div class="u-margin-bottom-medium u-center-text">
                <h2 class="heading-secondary u-margin-bottom-small">Level 9</h2>
                <br>
                <img src="/img2/09.jpg" alt="img l7" class="login-box__img">
                <p class="paragraph">
                    Hint- JamesWatt
                 </p>
            </div>
        </div>
    </div>
</section>
<% include ./../partials/footer%>