<% include ./../partials/header%>
    <section class="section features">
        <div class="login-box">
            <!-- ANSWER: smoked -->
            <div class="row">
                <div class="u-margin-bottom-medium u-center-text">
                    <h2 class="heading-secondary u-margin-bottom-small">Level 1</h2>
                    <img src="/img/firstone.jpg" alt="img l1" class="login-box__img">
                    <p class="paragraph">
                        Answer-Smoked
                    </p>
                    <div class="form__group">
                        <a href="/howtoplay" target="_blank"><button class="btn btn--green"  type="button">How To Play </button></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
<% include ./../partials/footer%>