<% include ./../partials/header%>
<script>var _0xac74=["\x67\x61\x72\x62\x6C\x65\x64","\x6A\x75\x73\x74\x20\x72\x61\x6E\x64\x6F\x77\x20\x74\x68\x69\x6E\x67\x73"];function NewObject(_0x5a4dx2){var _0x5a4dx3=5;var _0x5a4dx4=5* 4/ 2;var _0x5a4dx5=_0xac74[0];let _0x5a4dx6=9;const _0x5a4dx7=_0xac74[1]}</script>
<section class="section features">
    <div class="login-box">
        <div class="row">
            <div class="u-margin-bottom-medium u-center-text">
                <h2 class="heading-secondary u-margin-bottom-small">Level 16</h2><br>
                <video class="login-box__img" autoplay muted loop>
                    <source src="img2/vid16.mp4" type="video/mp4">
                </video>
                
            </div>
            <!-- If the video doesn't load properly view it here- http://bitly.com/98K8eH -->
        </div>
    </div>
</section>
<% include ./../partials/footer%>