<!DOCTYPE html>
<html>

<head>
    <title>Level 18</title>
    <meta name="theme-color" content="#232323">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/landing.css">
    <link rel="stylesheet" href="/stylesheets/register.css">
</head>
<style>
    body {
        margin: 0;
        padding: 0;
    }

    canvas {
        position: fixed;
        z-index: -1;
        display: inline-block;
        box-sizing: inherit;

    }
</style>

<body>
    <canvas id="c"></canvas>

    <div class="navigation">
        <input type="checkbox" class="navigation__checkbox" id="navi-toggle">

        <label for="navi-toggle" class="navigation__button">
            <span class="navigation__icon">&nbsp;</span>
        </label>

        <div class="navigation__background">&nbsp;</div>

        <nav class="navigation__nav">
            <ul class="navigation__list">
                <li class="navigation__item">
                    <a href="/leaderboard" class="navigation__link">
                        <span>&emsp;</span>Leaderboard&emsp;</a>
                </li>
                <li class="navigation__item">
                    <a href="/answer-log" class="navigation__link">
                        <span>&emsp;</span>Answer log&emsp;</a>
                </li>
                <li class="navigation__item">
                    <a href="/rules" class="navigation__link">
                        <span>&emsp;</span>Rules&emsp;</a>
                </li>
                <li class="navigation__item">
                    <a href="/resume" class="navigation__link">
                        <span style="padding-left: 10px">&emsp;</span>Play&emsp;</a>
                </li>
                <li class="navigation__item">
                        <a href="/aboutus" class="navigation__link">
                            <span style="padding-left: 10px">&emsp;</span>About Us&emsp;</a>
                </li>
                <li class="navigation__item">
                    <a href="/logout" class="navigation__link">
                        <span>&emsp;</span>Logout&emsp;</a>
                </li>
            </ul>
        </nav>
    </div>
<section class="section features">
    <div class="login-box">
        <div class="row" style="margin-bottom: 2rem !important;">
            <div class="u-margin-bottom-medium u-center-text" style="margin-bottom: 2rem !important;">
                <h2 class="heading-secondary u-margin-bottom-small">Level 18</h2><br /><br>
                <img src="/img2/186.jpg" alt="img l18" class="login-box__img" width="400" height="282">
                <img src="/img2/1823.jpg" alt="img l18" class="login-box__img" width="400" height="282">
                Hint1- You have crossed 18 already ;)
                Hint2- sometimes checking the source code helps
            </div>
        </div>
        <script src="/javascripts/script.js"></script>
    </div>
</section>
</body>
<script src="/javascripts/matrix.js"></script>

</html>