.login-box {
    max-width: 45rem;
    margin: 0 auto;
    background-color: rgba($color-white, .8);
    font-size: 1.5rem;
    padding: 2.5rem;
    // display: inline-block;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    transition: transform .3s;

    @include respond(tab-port) {
        padding: 2rem;
        max-width: 40rem;
        margin: 0 auto;
    }

    &__icon {
        font-size: 6rem;
        margin-bottom: .5rem;
        display: inline-block;
        background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
        -webkit-background-clip: text;
        color: transparent;

        @include respond(tab-port) {
            margin-bottom: 0;
        }
    }
    &__img{
        max-width: 100%;
        height: auto;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-bottom: 5%;
    }

    &:hover {
        transform: translateY(-.5rem) scale(1.02);
    }
}